<p>
  <strong>Keyword:</strong>
  <%= @keyword.keyword %>
</p>

<form action="export_csv.csv" method="get" >
  <div id="date_picker">
    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
  </div>
  <%= hidden_field_tag "keyword_id", "#{@keyword.id}" %>
  <%= hidden_field_tag "keyword", "#{@keyword.keyword}" %>
  <input type="submit" value="Export Data">
</form>

<%= line_chart [
                   {name: "Google", data: @google_ranks},
                   {name: "Google Base", data: @google_base_ranks},
                   {name: "Bing", data: @bing_ranks},
                   {name: "Yahoo", data: @yahoo_ranks},
               ], library: {scales: {yAxes: [{ticks: {reverse: true}}]}},
               ytitle: "Rank", id: "rank_chart"%>

<br>


<%= line_chart [
                   {name: "Google", data: @google_wranks},
                   {name: "Google Base", data: @google_base_wranks},
                   {name: "Bing", data: @bing_wranks},
                   {name: "Yahoo", data: @yahoo_wranks},
               ], library: {scales: {yAxes: [{ticks: {reverse: true}}]}},
               ytitle: "Weighted Rank", id: "wrank_chart"%>


<script>
    const rank_chart = Chartkick.charts["rank_chart"];
    const wrank_chart = Chartkick.charts["wrank_chart"];
    $( function() {
        dateFormat = "yy-mm-dd",
            from = $( "#from" )
                .datepicker({
                    defaultDate: "+1w",
                    dateFormat: dateFormat,
                    changeMonth: true,
                    changeYear: true,
                    numberOfMonths: 2
                })
                .on( "change", function() {
                    to.datepicker( "option", "minDate", getDate( this ) );
                    startDate = $("#from").datepicker( 'getDate' );
                    endDate = $("#to").datepicker( 'getDate' );

                    rank_chart.setOptions({library: {scales: {yAxes: [{ticks: {reverse: true}}]}},xmin:startDate,xmax:endDate});
                    wrank_chart.setOptions({library: {scales: {yAxes: [{ticks: {reverse: true}}]}},xmin:startDate,xmax:endDate});

                }),
            to = $( "#to" ).datepicker({
                defaultDate: "+1w",
                dateFormat: dateFormat,
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 2
            })
                .on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                    startDate = $("#from").datepicker( 'getDate' );
                    endDate = $("#to").datepicker( 'getDate' );
                    rank_chart.setOptions({library: {scales: {yAxes: [{ticks: {reverse: true}}]}},xmin:startDate,xmax:endDate});
                    wrank_chart.setOptions({library: {scales: {yAxes: [{ticks: {reverse: true}}]}},xmin:startDate,xmax:endDate});
                });


        function getDate( element ) {
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }

            return date;
        }
    } );

    function get_date() {
        alert('boo')
    }



</script>
