<h2> Working?</h2>

<div>
  <%= form_for @csv_importer, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <br>
    <%= f.submit "Save" %>
  <% end %>
</div>