<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<body>

<p>
  <strong>Site:</strong>
  <%= site.site %>
</p>

<h2>Keywords</h2>
<% @keywords = Keyword.where(site_id:site.id) %>

<div class="custom-table col-md-4">
  <table class="table table-hover table-sm" data-turbolinks='false' id="keywords_table">
    <thead>
    <tr>
      <th class="th-sm">Keyword</th>
      <th class="th-sm">Market</th>
      <th class="th-sm">Device</th>
    </tr>
    </thead>

    <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td id=<%= keyword.id %>><%= link_to keyword.keyword,  ranking_path(keyword), remote:true%></td>
        <td><%= keyword.market %></td>
        <td><%= keyword.device %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p id="keyword_id"></p>
<div id="ranking_graph" class="col-md-3">

</div>

</body>

<script>
    $(document).ready(function () {
        $('#keywords_table').DataTable({
            stateSave: true
        });
        $('#keywords_table tr').on('click', function(){
            var keyword_id = this.getElementsByTagName("td")[0].id;
            $("#keyword_id").attr(keyword_id);
        })



    });
</script>
