<!DOCTYPE html>
<html>
  <head>
    <title>MozApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" %>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
